#home_main {
  width: 60%;
  margin: 50px auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}
#home_head {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  background-color: #fcf8f2;
  padding-bottom: 5px;
}
#home_sec_head{
    background-color: #fcf8f2;
    padding-bottom: 20px;
    color: #f8a77b;
    padding-left: 10px;
}
#home_table {
  border: 1px solid #f69a1c;
  border-radius: 5px;
}
#home_table th {
  background-color: #ffeee5;
  border-bottom: 1px solid #f69a1c;
  padding: 10px;
}
#home_table td {
  padding:10px;
  border-bottom: 1px solid rgb(231, 231, 231); 
}
#home_table td:nth-child(2n + 1) {
  text-align: center;
}
.countryBtn {
  background-color: white;
  border: none;
  outline: none;
}
.countryBtn:hover {
  cursor: pointer;
  color: rgb(20, 134, 241);
  
}
#model {
  max-height: 300px;
  width: 500px;
  position: fixed;
  top: 30vh;
  right: 70vh ;
  overflow-y: scroll;
  border-top: 1px solid rgb(219, 219, 219);
  border-left: 1px solid rgb(219, 219, 219); 
  border-bottom: 1px solid rgb(219, 219, 219);
}
#modal_head{
    text-align: center;
    background-color:rgb(165, 165, 165);
    padding:5px;
    font-weight: bold;
}
#modal_table {
    width:100%;
  background-color: rgb(252, 252, 252);
  border: 2px solid rgb(230, 230, 230);  
}
#modal_table th {
width: 50%;   
background-color: rgb(214, 214, 214); 
padding: 5px 10px; 
}
#modal_table td {
    width: 50%; 
    padding: 5px;
    border-right: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);
}
.rate{
    text-align: center;
}
#closeBtn{
    padding: 2px 15px ;
    border-radius: 20px;
    background-color: white;
    border: 1px solid red;
    color: red;
    font-size:14px;
    transition: 0.5s;
    position: absolute;
    top: 2%;
    right: 2%;
}
#closeBtn:hover{
    background-color:rgb(231, 23, 23);
    color: white;
}

/* slide bar */

::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(148, 148, 148);
    border-radius: 25px;
  }
  