#home_main {
  width: 60%;
  margin: 50px auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}
#home_head {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  background-color: #fcf8f2;
  padding-bottom: 5px;
}
#home_sec_head{
    background-color: #fcf8f2;
    padding-bottom: 20px;
    color: #f8a77b;
    padding-left: 10px;
}
#home_table {
  border: 1px solid #f69a1c;
  border-radius: 5px;
}
#home_table th {
  background-color: #ffeee5;
  border-bottom: 1px solid #f69a1c;
  padding: 10px;
}
#home_table td {
  padding:10px;
  border-bottom: 1px solid rgb(231, 231, 231); 
}
#home_table td:nth-child(2n + 1) {
  text-align: center;
}
.countryBtn {
  background-color: white;
  border: none;
  outline: none;
}
.countryBtn:hover {
  cursor: pointer;
  color: rgb(20, 134, 241);
  
}


/* slide bar */

::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(148, 148, 148);
    border-radius: 25px;
  }
  